<template name='about'>
    <div class="container">
        <div class="card-panel">
            <h5 class="center-align">个人简介</h5>
            <blockquote>
              <h5 class="blue-text">在追求新技术的道路上，越走越远</h5>
            </blockquote>
            <p>
              IT门外汉，上学的时候对计算机技术产生了兴趣，逐渐投入到了以Linux为代表的开源世界的怀抱.慢慢地开始了ruby/java等语言的学习之路。现在主要在Android开发和Meteor全栈开发框架这两个方面下功夫。
            </p>
        </div>
        <div class="card-panel">
        <h5 class="center-align">正在学习</h5>
        <p>Android开发：目前开发了一个小软件，能够显现所在地的空气质量信息和天气情况，项目地址：<a href="https://github.com/wuyang910217/MyWeather">Github</a></p>
        <p>Meteor框架：本网站就是用Meteor开发的，项目地址：<a href="https://github.com/wuyang910217/wuyangSite">Github</a></p>
        </div>
        <div class="card-panel">
        <h5 class="center-align">联系我</h5>
        <p>邮箱：wuyang910217@163.com</p>
        <p>Github：<a href="https://github.com/wuyang910217">点我</a></p>
        </div>
    </div>
</template>
