<template name='about'>
    <div class="container">
        <div class="card-panel">
            <h5 class="center-align">个人简介</h5>
            <blockquote>
            	一个化工专业毕业生，上学期间对计算机技术产生了兴趣，逐渐投入到了以Linux为代表的开源世界的怀抱.慢慢地开始了python/ruby/java等语言的学习之路。现在主要在Android开发和Meteor全栈开发框架这两个方面下功夫。
            </blockquote>
        </div>
        <div class="card-panel">
        <h5 class="center-align">小成绩</h5>
        <section>
        <p>我的天气app：学习android过程中，开发的一个小软件，能够显现所在地的空气质量信息和天气情况。</p>
        </section>
        <p></p>
        </div>
        <div class="card-panel">
        <h5 class="center-align">联系我</h5>
        <p>邮箱：wuyang910217@gmail.com</p>
        <p>Github地址：<a href="">点我</a></p>
        </div>
    </div>
</template>
