<template name='about'>
    <div class="container">
        <div id='scroll-fire' class="card-panel white">
            <p class="flow-text red-text center-align">This is about page</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae minima qui quam repellat vitae aut vero? Sapiente adipisci, doloremque odio corporis quam magnam assumenda nisi expedita explicabo laborum fuga animi.</p>
        </div>
        <div class="card-panel">
            <img src="images/about.jpg" alt="" id="about-img" class="responsive-img">
        </div>
    </div>
</template>
