<template name="banner">
    <div class="row ">
        <div class="col s12 m12 l12">
            <div class=" card-panel deep-orange lighten-2  z-depth+4 ">
                <div class="center">
                    <img src="images/android.png" style="width: 80px; height: 80px;" class=" circle blue responsive-img" alt="">
                    <h3 class=" center-align  white-text">Welcome to my blog </h3>
                    <p class=" center-align white-text flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nobis error vitae necessitatibus excepturi itaque neque tenetur quas laudantium, dignissimos unde, at provident doloribus magnam illum! Enim nulla labore dolor?</p>
                    <a href="/about" class=" btn red white-text waves-effect">More</a>
                </div>
            </div>
        </div>
    </div>
</template>
