<template name="footer">
    <footer class="page-footer deep-purple darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 m6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-3">You can use rows and columns here to organize your footer content</p>
                </div>
                <div class="col l6 m6 s12">
                    <h5 class="white-text">Site</h5>
                    <a href="#!" class="grey-text">This is a link</a>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    &copy; 2016 Copyright Wuyang
                </div>
            </div>
        </div>
    </footer>
</template>
