<template name="footer">
    <footer class="page-footer deep-purple darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 m6 s12">
                    <h5 class="white-text">关注我</h5>
                    <a href="https://github.com/wuyang910217"><img src="images/github.png" alt="Github"/></a>
                    &nbsp;&nbsp;
                    <a href="https://twitter.com/wuyangJT"><img src="images/twitter.png" alt="Twitter"/></a>
                </div>
                <div class="col l6 m6 s12">
                    <h5 class="white-text">友情链接</h5>
                    <p class="white-text">
                      Meteor框架：<a href="https://www.meteor.com/">Meteor</a>
                    </p>
                    <p class="white-text">
                      Material风格CSS：<a href="http://materializecss.com/">Materialize css</a>
                    </p>
                    <p class="white-text">
                      peter老师的博客：<a href="http://www.haoduoshipin.com/">好多视频网</a>
                    </p>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    &copy; 2016 Copyright Wuyang&nbsp;
                    <a href="http://www.miitbeian.gov.cn"><span class="grey-text">豫ICP备15011987号</span></a>
                </div>
            </div>
        </div>
    </footer>
</template>
