<template name="footer">
    <footer class="page-footer deep-purple darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 m6 s12">
                    <h5 class="white-text">关注我</h5>
                    <a href="#!" class="btn white-text">Github</a>
                    <a href="#!" class="btn white-text">Twitter</a>
                </div>
                <div class="col l6 m6 s12">
                    <h5 class="white-text">友情链接</h5>
                    <a href="#!" class="btn white-text">Meteor</a>
                    <a href="#!" class="btn white-text">Materialize css</a>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    &copy; 2016 Copyright Wuyang
                </div>
            </div>
        </div>
    </footer>
</template>
