<template name="header">
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper deep-purple darken-2">
                    <a href="{{ pathFor route='root'}}" class="brand-logo">
                      <img src="/images/logo.png" class="responsive-img" alt="wuyang">
                    </a>
                    <a href="{{ pathFor route='root'}}" class="button-collapse" data-activates="mobile-show"><i class="large mdi-navigation-menu"></i></a>
                    <div class="center hide-on-med-and-down">
                            <a href="{{ pathFor route='root'}}" class="btn-flat white-text waves-effect waves-red ">首页</a>
                            <a href="/posts" class="btn-flat white-text waves-effect waves-red">文章列表</a>
                            <a href="{{ pathFor route='category'}}" class="btn-flat white-text waves-effect waves-red">分类</a>
                            <a href="{{ pathFor route='about'}}" class="btn-flat white-text waves-effect waves-red">关于我</a>
                            <div class="right">
                            {{#if  currentUser}}
                            {{#if isAdmin currentUser}}
                            <a href="{{ pathFor route='admin'}}" class="btn-flat white-text waves-effect waves-red ">后台管理</a>
                            <a class="disabled btn-flat  white-text waves-effect waves-red ">欢迎,{{username}}</a>
                                <button class="btn red waves-effect waves-light" id="logout">退出</button>
                                <button class="btn-flat disabled deep-purple darken-2"></button>
                            {{else}}
                            <a class="disabled btn-flat  white-text waves-effect waves-red ">欢迎, {{username}}</a>
                                <button class="btn red waves-effect waves-light" id="logout">退出</button>
                                <button class="btn-flat disabled deep-purple darken-2"></button>
                            {{/if}}
                            {{else}}
                                <a href="{{ pathFor route='login'}}" class="btn green white-text waves-effect waves-light">登录</a>
                                <button class="btn-flat disabled deep-purple darken-2"></button>
                            {{/if}}
                            </div>
                    </div>
                </div>
                <div class="side-nav" id="mobile-show">
                    <a href="{{ pathFor route='root'}}" class="btn-flat  waves-effect waves-red ">首页</a>
                    <a href="/posts" class="btn-flat waves-effect waves-red ">文章列表</a>
                    <a href="{{ pathFor route='category'}}" class="btn-flat waves-effect waves-red ">分类</a>
                    <a href="{{ pathFor route='about'}}" class="btn-flat  waves-effect waves-red ">关于我</a>
                    {{#if currentUser}}
                    {{#if isAdmin currentUser}}
                    <a href="{{ pathFor route='admin'}}" class="bbtn-flat  waves-effect waves-red  ">后台管理</a>
                    <a class="disabled btn-flat  waves-effect waves-red teal-text ">欢迎, {{username}}</a>
                    <button class="btn red waves-effect waves-light" id="logout">退出</button>
                            {{else}}
                            <a class="disabled btn-flat  waves-effect waves-red teal-text ">欢迎, {{username}}</a>
                    <button class="btn red waves-effect waves-light" id="logout">退出</button>
                            {{/if}}
                    {{else}}
                    <a href="{{ pathFor route='login'}}" class="btn-flat waves-effect waves-red">登录</a>
                    {{/if}}

                </div>
            </nav>
        </div>
    </header>
</template>
