<template name="login">
    <div class="container">
        <div class="card-panel teal">
            <p class=" flow-text center-align white-text text-darken-2">人世间最痛苦的事莫过于：心中虽有千言，却没有这个权限</p>
        </div>
        {{#if currentUser}}
        <div class="section center">
        <h4 class="center-align blue-text">登录成功，你可以</h4>
        <a href="{{pathFor route='root'}}" class="btn waves-effect waves-light">去首页</a>
        <button onclick="javascript:history.go(-1);" class="btn waves-effect waves-light">返回上一级</button>
        </div>
        {{else}}
        <div class="row ">
            <div class=" hoverable card-panel white col s12 l8 push-l2">
                <form id="login-form">
                    <div class="row">
                        <div class="input-field col s12 l8 push-l2">
                            <i class="mdi-content-inbox prefix"></i>
                            <input type="email"  name="email" class="validate">
                            <label for="email" >邮箱 </label>
                        </div>
                        <div class="input-field col s12 l8 push-l2">
                            <i class="mdi-file-cloud-circle prefix"></i>
                            <input type="password"  name="password" class="validate">
                            <label for="password">密码 </label>
                        </div>
                    </div>
                </form>
                <div class="row center">
                    <div class="col s12 l4 push-l4">
                        <button id="login" type="submit" class="btn waves-effect waves-darken+4">登录</button>
                    </div>
                    <div class="col s12 l4 push-l4 right-align">
                        <small>没有账号，马上去 <a href="{{pathFor route="signup"}}"  class="btn red waves-effect waves-light">注册</a></small>
                       
                    </div>
                </div>
                <div class="center red-text">
                    {{ error }}
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</template>
