<template name="notFound">
<div class="container">
        <div class="card-panel teal ">
            <div class="row">
                <div class="col s12 l3">
                    <div class="card-panel red">
                        <h3 class="flow-text white-text center-align">404</h3>
                    </div>
                </div>
                <div class="col s12 l6">
                    <div class="card-panel white">
                        <h3 class="flow-text red-text center-align">藏在这 都被你发现了:)</h3>
                    </div>
                </div>
                <div class="col s12 l3">
                    <div class="card-panel red">
                        <h3 class="flow-text white-text center-align">404</h3>
                    </div>
                </div>
            </div>
            <div class="center">
                <a href="/" class=" btn-large red white-text waves-effect waves-light">返回首页</a>
            </div>
        </div>
        </div>
</template>
