<template name="signup">
    <div class="container">
        <div class="card-panel teal">
            <p class=" flow-text center-align white-text text-darken-2">浏览容易，注册不易，且行且珍惜</p>
        </div>
        {{#if currentUser}} 
        <div class="section center">
        <h4 class="center-align blue-text">注册成功，你可以</h4>
        <a href="{{pathFor route='root'}}" class="btn waves-effect waves-light">去首页</a>
        <button onclick="javascript:history.go(-1);" class="btn waves-effect waves-light">返回上一级</button>
        </div>
        {{else}}
        <div class="row ">
            <div class=" hoverable card-panel white col s12 l8 push-l2">
                <form id="signup-form">
                    <div class="row">
                        <div class="input-field col s12 l8  push-l2">
                            <i class="mdi-action-account-circle prefix"></i>
                            <input type="text" name="user_name" class="validate">
                            <label for="user_name">用户名</label>
                        </div>
                        <div class="input-field col s12 l8 push-l2">
                            <i class="mdi-content-inbox prefix"></i>
                            <input type="email" name="email" class="validate">
                            <label for="email">邮箱 </label>
                        </div>
                        <div class="input-field col s12 l8 push-l2">
                            <i class="mdi-file-cloud-circle prefix"></i>
                            <input type="password" name="password" class="validate">
                            <label for="password">密码 </label>
                        </div>
                    </div>
                </form>
                <div class="row center">
                    <div class="col s12 l4 push-l4">
                        <button id="register" type="submit" class="btn waves-effect waves-darken+5">马上注册</button>
                    </div>
                    <div class="col s12 l4 push-l4 right-align">
                        <small>已有账号，马上<a href="{{pathFor route="login"}}" class="btn red waves-effect waves-light">登陆</a></small>
                    </div>
                </div>
                <div class="center">
                    <p class="red-text"> {{error}} </p>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</template>
